#header {
    font-size: 2vw;
    margin: auto;
}

pre {
    text-align: center;
    padding: 2%;
}

body {
    background-color: whitesmoke;
    font-family: monospace;
  }

.rules {
    text-align: left;
    font-size: large;
    padding: 2% 8%;
}

.pitch {
    font-size: x-large;
    text-align: center;
    padding: 1% 10%;
}

.sale {
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-size: 2.5vw;
    text-decoration: none;
    text-align: center;
    color: black;
    padding: 2% 8%;
}

.alpha {
    max-width: 90%;
    height: auto;
}

video {
    display:block;
    margin: 0 auto;
}

a.ntwrkLink:link, a.ntwrkLink:visited {
    color:blue;
}

span.saleLink a {
    color:#efc136;
    text-decoration: underline;
}


.or {
    position: relative;
    left: 10%;
}

p:hover {
    box-shadow: 1px 1px 5px grey;
}