#header {
    font-size: 2vw;
    margin: auto;
}

pre {
    text-align: center;
    padding: 2%;
}

body {
    background-color: whitesmoke;
    font-family: monospace;
    font-size: large;
  }

.rules {
    text-align: left;
    padding: 2% 8%;
    
}

.pitch {
    font-size: x-large;
    text-align: center;
    padding: 1% 10%;
}

.sale {
    display:block;
    font-family: monospace;
    font-size: x-large;
    text-decoration: none;
    text-align: center;
    color: pink;
    background-color: black;
}

video {
    display:block;
    margin: 0 auto;
}

a.ntwrkLink:link {
    color:blue;
}

a.ntwrkLink:visited {
    color:blue;
}

.or {
    position: relative;
    left: 10%;
}

p:hover {
    box-shadow: 1px 1px 5px grey;
}